body {
    background-color: white;
}

.nav {
    border:1px solid black;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}

.nav li{
    display:inline;
}

.nav a{
    display:inline-block;
    padding:10px;
}

/* CSS for Nav from: https://csswizardry.com/2011/01/create-a-centred-horizontal-navigation/ */


 /* To link to any static file from a template, use the {% static 'FILELOCATION/FILENAME.TYPE' %} syntax, such as{% static 'js/script.js' %} or {% static 'images/logo.jpg' %}. 
 
 Keep in mind you still need the IMG HTML tag when displaying images,forexample:<img src="{% static 'images/logo. jpg' %}" alt=""/>

 All that said, don’t worry about this within your CSS files—feel free to use relative paths because your static files should always be together anyways.

 h1{
    background-image: url(../images/logo.png); 
} */