{% extends 'base.html' %}
{% load humanize %}
{% block title %}
    {{ book.title }} - {{ block.super }}
{% endblock title %}

{% block content %}
    
    <h2>{{ book.title }}</h2>
    <p>By {{ book.author }}</p>
    <p>{{ book.description }}</p>
    <p>Date Added: {{ book.date_added }} |  Date Last Updated: {{ book.date_last_updated }}</p>
    {% if user == book.user %} 
        <p>
            <a href="{% url 'edit_book' slug=book.slug %}"> 
                Edit me!
            </a> </p>
    {% endif %}
{% endblock content %}